<?xml version='1.0' encoding='utf-8'?>
<robot name="sh_dog">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.00049167 6.7769E-09 -0.046567" rpy="0 0 0" />
      <mass value="6.9493" />
      <inertia ixx="0.012221" ixy="-6.134E-09" ixz="-2.1399E-05" iyy="0.019119" iyz="-7.2605E-10" izz="0.025686" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.03" rpy="0 0 0" />
      <geometry>
        <box size="0.29 0.142 0.13" />
      </geometry>
    </collision>
  </link>
  <link name="fl_abad_link">
    <inertial>
      <origin xyz="0.042078 -0.024479 6.3482E-08" rpy="0 0 0" />
      <mass value="0.92886" />
      <inertia ixx="0.00049446" ixy="5.9311E-06" ixz="1.2866E-08" iyy="0.00075143" iyz="6.7955E-10" izz="0.0005481" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fl_abad_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.05877 -0.01225 0" rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder radius="0.046" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_abad_joint" type="revolute">
    <origin xyz="0.13323 0.071 -0.050115" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="fl_abad_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.79" upper="0.79" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="fl_hip_link">
    <inertial>
      <origin xyz="-0.0029513 0.055351 -0.026412" rpy="0 0 0" />
      <mass value="1.2575" />
      <inertia ixx="0.0021493" ixy="4.4096E-07" ixz="-0.00012108" iyy="0.0024611" iyz="9.4296E-06" izz="0.00057093" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fl_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.08215 -0.115" rpy="0 0 0" />
      <geometry>
        <box size="0.065 0.04 0.11" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_hip_joint" type="revolute">
    <origin xyz="0.05877 -0.01225 0" rpy="0 0 0" />
    <parent link="fl_abad_link" />
    <child link="fl_hip_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.74" upper="3.31" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="fl_knee_link">
    <inertial>
      <origin xyz="0.015776 3.4272E-08 -0.094656" rpy="0 0 0" />
      <mass value="0.16891" />
      <inertia ixx="0.0011426" ixy="2.4462E-10" ixz="0.00018241" iyy="0.0011885" iyz="5.5669E-10" izz="5.6498E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fl_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0155 0 -0.15" rpy="0 -0.1044 0" />
      <geometry>
        <cylinder radius="0.015" length="0.14" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_knee_joint" type="revolute">
    <origin xyz="0 0.08215 -0.213" rpy="0 0 0" />
    <parent link="fl_hip_link" />
    <child link="fl_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.67" upper="-0.79" effort="72" velocity="25.1327412287" />
  </joint>
  <link name="fl_foot_link">
    <inertial>
      <origin xyz="-0.0069127 -2.3801E-06 -0.0065607" rpy="0 0 0" />
      <mass value="0.038902" />
      <inertia ixx="9.5493E-06" ixy="-2.2414E-10" ixz="1.8442E-06" iyy="7.8792E-06" iyz="-2.2924E-10" izz="1.0019E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fl_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0045 0 -0.005" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0225" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_foot_joint" type="fixed">
    <origin xyz="0.023578 0 -0.225" rpy="0 0 0" />
    <parent link="fl_knee_link" />
    <child link="fl_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="fr_abad_link">
    <inertial>
      <origin xyz="0.042078 0.024479 -6.3482E-08" rpy="0 0 0" />
      <mass value="0.92886" />
      <inertia ixx="0.00049446" ixy="-5.9311E-06" ixz="-1.2866E-08" iyy="0.00075143" iyz="6.7955E-10" izz="0.0005481" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fr_abad_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.05877 0.01225 0" rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder radius="0.046" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_abad_joint" type="revolute">
    <origin xyz="0.13323 -0.071 -0.050115" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="fr_abad_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.79" upper="0.79" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="fr_hip_link">
    <inertial>
      <origin xyz="-0.00295127600653783 -0.0553505296691562 -0.0264119215015597" rpy="0 0 0" />
      <mass value="1.25749406115707" />
      <inertia ixx="0.00214930268727188" ixy="-4.40008235011207E-07" ixz="-0.000121089509845766" iyy="0.0024610842094822" iyz="-9.42818653322951E-06" izz="0.000570937306967131" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fr_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.08215 -0.115" rpy="0 0 0" />
      <geometry>
        <box size="0.065 0.04 0.11" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_hip_joint" type="revolute">
    <origin xyz="0.05877 0.01225 0" rpy="0 0 0" />
    <parent link="fr_abad_link" />
    <child link="fr_hip_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.74" upper="3.31" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="fr_knee_link">
    <inertial>
      <origin xyz="0.0157755275951559 3.42715062162657E-08 -0.0946563799349887" rpy="0 0 0" />
      <mass value="0.168909137591324" />
      <inertia ixx="0.00114264801809999" ixy="2.4461869443836E-10" ixz="0.000182407238717794" iyy="0.00118852208037432" iyz="5.5668564448487E-10" izz="5.64976757542647E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fr_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0155 0 -0.15" rpy="0 -0.1044 0" />
      <geometry>
        <cylinder radius="0.015" length="0.14" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_knee_joint" type="revolute">
    <origin xyz="0 -0.08215 -0.213" rpy="0 0 0" />
    <parent link="fr_hip_link" />
    <child link="fr_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.67" upper="-0.79" effort="72" velocity="25.1327412287" />
  </joint>
  <link name="fr_foot_link">
    <inertial>
      <origin xyz="-0.00533475077061957 -1.79093260405105E-06 -0.00656074867502143" rpy="0 0 0" />
      <mass value="0.0389023220231465" />
      <inertia ixx="9.54931281293162E-06" ixy="-2.24143885745597E-10" ixz="1.84420622702918E-06" iyy="7.87920842448453E-06" iyz="-2.29243200516718E-10" izz="1.00191527344223E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/fr_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0045 0 -0.005" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0225" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_foot_joint" type="fixed">
    <origin xyz="0.022 0 -0.225" rpy="0 0 0" />
    <parent link="fr_knee_link" />
    <child link="fr_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="rl_abad_link">
    <inertial>
      <origin xyz="-0.0420781692531116 -0.024478770162302 -6.34093414997317E-08" rpy="0 0 0" />
      <mass value="0.928856367851297" />
      <inertia ixx="0.000494458255829646" ixy="-5.93109415377525E-06" ixz="1.28644275061908E-08" iyy="0.000751427821800478" iyz="-6.78613492704525E-10" izz="0.000548097549898436" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rl_abad_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.05877 -0.01225 0" rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder radius="0.046" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_abad_joint" type="revolute">
    <origin xyz="-0.13323 0.071 -0.050115" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rl_abad_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.79" upper="0.79" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="rl_hip_link">
    <inertial>
      <origin xyz="-0.00295127219985069 0.0553508012651617 -0.0264119853083999" rpy="0 0 0" />
      <mass value="1.2575062472706" />
      <inertia ixx="0.002149309498134" ixy="4.40956484448867E-07" ixz="-0.000121084848677264" iyy="0.00246108793182743" iyz="9.4296030704541E-06" izz="0.000570934023383745" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rl_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.08215 -0.115" rpy="0 0 0" />
      <geometry>
        <box size="0.065 0.04 0.11" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_hip_joint" type="revolute">
    <origin xyz="-0.05877 -0.01225 0" rpy="0 0 0" />
    <parent link="rl_abad_link" />
    <child link="rl_hip_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.74" upper="3.31" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="rl_knee_link">
    <inertial>
      <origin xyz="0.0157755275951558 3.42715063827992E-08 -0.0946563799349867" rpy="0 0 0" />
      <mass value="0.168909137591316" />
      <inertia ixx="0.00114264801809902" ixy="2.44618692327364E-10" ixz="0.000182407238715603" iyy="0.00118852208035357" iyz="5.56685649036167E-10" izz="5.64976757319342E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rl_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0155 0 -0.15" rpy="0 -0.1044 0" />
      <geometry>
        <cylinder radius="0.015" length="0.14" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_knee_joint" type="revolute">
    <origin xyz="0 0.08215 -0.213" rpy="0 0 0" />
    <parent link="rl_hip_link" />
    <child link="rl_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.67" upper="-0.79" effort="72" velocity="25.1327412287" />
  </joint>
  <link name="rl_foot_link">
    <inertial>
      <origin xyz="-0.00566277667023726 -2.38009014508211E-06 -0.00693809930669181" rpy="0 0 0" />
      <mass value="0.0389023220231459" />
      <inertia ixx="9.5493128129314E-06" ixy="-2.24143885796009E-10" ixz="1.84420622702916E-06" iyy="7.87920842448442E-06" iyz="-2.29243200429862E-10" izz="1.0019152734422E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rl_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0045 0 -0.005" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0225" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_foot_joint" type="fixed">
    <origin xyz="0.022 0 -0.225" rpy="0 0 0" />
    <parent link="rl_knee_link" />
    <child link="rl_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="rr_abad_link">
    <inertial>
      <origin xyz="-0.0420781692973412 0.0244787701898436 6.34871614377253E-08" rpy="0 0 0" />
      <mass value="0.928856366079835" />
      <inertia ixx="0.000494458255385036" ixy="5.93109447406546E-06" ixz="-1.2865456411775E-08" iyy="0.000751427819863049" iyz="-6.79641783786189E-10" izz="0.000548097550476743" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rr_abad_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.05877 0.01225 0" rpy="0 1.57079632679 0" />
      <geometry>
        <cylinder radius="0.046" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_abad_joint" type="revolute">
    <origin xyz="-0.13323 -0.071 -0.050115" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="rr_abad_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.79" upper="0.79" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="rr_hip_link">
    <inertial>
      <origin xyz="-0.00295127679931295 -0.055350529729996 -0.026411921870828" rpy="0 0 0" />
      <mass value="1.25749406287706" />
      <inertia ixx="0.00214930268681864" ixy="-4.39987018540022E-07" ixz="-0.000121089510032065" iyy="0.00246108420957282" iyz="-9.42817590134888E-06" izz="0.000570937307193574" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rr_hip_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.08215 -0.115" rpy="0 0 0" />
      <geometry>
        <box size="0.065 0.04 0.11" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_hip_joint" type="revolute">
    <origin xyz="-0.05877 0.01225 0" rpy="0 0 0" />
    <parent link="rr_abad_link" />
    <child link="rr_hip_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.74" upper="3.31" effort="36" velocity="50.2654824574" />
  </joint>
  <link name="rr_knee_link">
    <inertial>
      <origin xyz="0.0157755275951563 3.4271506070549E-08 -0.0946563799349878" rpy="0 0 0" />
      <mass value="0.168909137591319" />
      <inertia ixx="0.00114264801809904" ixy="2.44618693892352E-10" ixz="0.000182407238718271" iyy="0.00118852208034887" iyz="5.56685644110282E-10" izz="5.64976757281815E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rr_knee_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0155 0 -0.15" rpy="0 -0.1044 0" />
      <geometry>
        <cylinder radius="0.015" length="0.14" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_knee_joint" type="revolute">
    <origin xyz="0 -0.08215 -0.213" rpy="0 0 0" />
    <parent link="rr_hip_link" />
    <child link="rr_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.67" upper="-0.79" effort="72" velocity="25.1327412287" />
  </joint>
  <link name="rr_foot_link">
    <inertial>
      <origin xyz="-0.00566277667054906 -1.79093222103799E-06 -0.0069380993062424" rpy="0 0 0" />
      <mass value="0.0389023220259562" />
      <inertia ixx="9.54931281301923E-06" ixy="-2.2414373730689E-10" ixz="1.8442062269997E-06" iyy="7.87920842474891E-06" iyz="-2.29243183988196E-10" izz="1.00191527347673E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../raw/meshes/rr_foot_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0045 0 -0.005" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0225" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_foot_joint" type="fixed">
    <origin xyz="0.022 0 -0.225" rpy="0 0 0" />
    <parent link="rr_knee_link" />
    <child link="rr_foot_link" />
    <axis xyz="0 0 0" />
  </joint>
</robot>